*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
!/src/minecraft/mods/
!/src/minecraft/murder/
!/src/minecraft/DistributedDimensions/
!src/minecraft/mods/DistributedDimensions/*
!src/minecraft/mods/DistributedDimensions/common/*
!/resources/
!/models/
!info1.5.1.txt
!InjectResources.bat
!BuildModJar.bat
!/README